@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}


.flex-center {
    @apply flex justify-center items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.auth-btn {
    @apply px-3 py-2 rounded-xl shadow-xl/20;
}

@theme {
    --color-main-bg: #171B22;
    --color-secondary-bg: #1C212A;
    --color-main-purple: #C538A7;
    --color-hover-purple: #961d7d;
    --color-main-green: #00A23E;
    --color-hover-green: #018233;
    --color-main-gray: #626162;
    --color-main-footer: rgba(0, 0, 0, 0.4);

    --breakpoint-4xl: 108rem;

}
